<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<header>
  <%- include('./partials/nav.ejs') %>
</header>

<body>
    <a href = "mailto: julia.beiferman@intel.com">Julia Beiferman</a>
  
</body>

<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>